// ----------------------------
//   Color Wheel
// ----------------------------

$red: #f00;
$vermilion: #f60;
$orange: #f90;
$amber: #fc0;
$yellow: #ff0;
$chartreuse: #ace600;
$green: #0c0;
$viridian: #09c;
$blue: #05c;
$violet: #20c;
$purple: #80c;
$magenta: #d9007e;
$black: #000;

@mixin shadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

article {
  font-family: "Open Sans", sans-serif;
}

#main-nav {
  background-color: $black;
}

.social-icon {
  height: 20px;
  width: 20px;
}
